rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Rich text editor assets
    match /editor/{year}/{month}/{file} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && request.resource.size < 4 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    // Default deny for everything else unless authenticated read
    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}


